.env
.env.test
.env.prod
.env.dev
.env.stage
.env.local

/app/vendor
/app/.env
/app/.phpunit.result.cache
/.idea
*.log
/app/public/bundles
./Makefile
/app/.phpcs-cache
/app/.scribe
/app/public/api
/app/public/vendor
/app/node_modules
/app/public/storage
