.input-fill {
    display: inline-block;
    position: absolute;
    left: 38%;
    top: 0;
}

.hidden {
    visibility: hidden
}

.button-fill {
    padding-left: 12px;
    padding-right: 12px;
    position: absolute;
    overflow: hidden;
    background-color: #fff;
    border-color: transparent;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.15),0 2px 5px -3px rgba(0,0,0,.15);
    box-sizing: border-box !important;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    background-clip: border-box;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-family: Arial,Helvetica,sans-serif;
    transition: background-color .15s ease-out,border-color .15s ease-out,opacity .15s ease-out;
    display: inline-block;
    height: 28px;
}